.homeContainer {
  overflow-x: hidden; /* 🔑 evita scroll horizontal innecesario */
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0px 15px;
  margin-top: 1rem;
  background-color: #f8f9fa;
}

.iconCloseEventDetail {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.iconCloseEventDetail:hover {
  color: red;
}
