html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden; /* 🔐 bloquea el scroll horizontal global */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
